@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('https://images.unsplash.com/photo-1532153955177-f59af40d6472?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
    padding-top: 3rem;
}

.container-main {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

.line {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin-bottom: 5px;
}

.col-header {
    width: 200px;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    padding: 0.8rem 1rem;
    color: #fff;
}

.item {
    width: 200px;
    border: 1px solid #eee;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    background: #f7f6f7;
    padding: 0.8rem 1rem;
    color: #828282;
    text-align: center;
    cursor: grab;
    margin: 3px;
}

.item:active {
    cursor: grabbing;
}

.placeholder {
    width: 200px;
    height: 100ch;
}

@media (max-width: 800px) {
    .placeholder {
        width: 150px;
    }
    .item {
        width: 150px;
    }
    .col-header {
        width: 150px;
    }
    .line {
        width: 500px;
    }
}

.start-bg {
    background: linear-gradient(90deg, #00ff26, #eefb00);
}

.progress-bg {
    background: linear-gradient(90deg, #e1ff00, #ffae00);
}

.done-bg {
    background: linear-gradient(90deg, #ff8400, #ff0000);
}

.hold {
    background: white;
    color: black;
    font-weight: 400;
}

.hide {
    display: none;
}

.hovered {
    border-top: 2px solid rgb(0, 238, 255);
}

.active {
    border: 2px solid black;
}